name: Continuous Integration

on:
  pull_request:
    branches: ['**']
  push:
    branches: ['**']
    tags: [v*]

jobs:
  build:
    name: Build and Test
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        distribution: [temurin, graalvm, openj9, corretto, oracle]
        version: [8, 11, 17]
        exclude:
          - distribution: graalvm
            version: 8
          - distribution: oracle
            version: 8
          - distribution: oracle
            version: 11

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v2

      - name: Download Java
        id: download-java
        uses: ./
        with:
          distribution: ${{ matrix.distribution }}
          java-version: ${{ matrix.version }}

      - run: head ${{ steps.download-java.outputs.jdkFile }}

      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          distribution: 'jdkfile'
          java-version: ${{ matrix.version }}
          jdkFile: ${{ steps.download-java.outputs.jdkFile }}

      - run: java -version
